<div class="row farm-actions">
  <% if @farm.zones == [] %>
    <p class="error-message"><%= "Désolé, ces zones ne sont pas accessibles " %></p>
  <% else %>
      <div id= "searchbar">
        <%= form_tag farm_path(@farm), method: :get, remote: true do %>
          <%= text_field_tag :query, params[:query], class: "barwidth", placeholder: "Recherchez une action" %>
        <% end %>
      </div>
    </div>
    <% if @farm.users.include?(current_user) %>
      <div class="message text-left">
        <div class="message-name">
          <img class="plus-sign" src="http://res.cloudinary.com/bdmbdm/image/upload/v1528034422/plussign_square.png" data-toggle="modal" data-target="#myModal">
        </div>

        <div class="message-body">
          <p>Nouvelle action</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @actions.each do |action| %>
    <div class="message">
      <div class="message-name filterDiv <%= action.category %>">
        <% if action.category == "Labourage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1561630_cc.svg">
        <% elsif action.category == "Fertilisation" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1042097_cc.svg">
        <% elsif action.category == "Semis" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/seed.svg">
        <% elsif action.category == "Repiquage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% elsif action.category == "Arrosage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240203_cc.svg">
        <% elsif action.category == "Désherbage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189035/noun_984560_cc.svg">
        <% elsif action.category == "Paillage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240202_cc.svg">
        <% elsif action.category == "Protection" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189177/noun_1002074_cc.svg">
        <% elsif action.category == "Récolte" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671027/brouette.svg">
        <% elsif action.category == "Nettoyage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189352/noun_1551479_cc.svg">
        <% elsif action.category == "Distribution" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671030/selling.svg">
        <% else %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% end %>
      </div>

      <div class="message-body products date">
        <p><%= action.date.strftime("%d/%m/%Y") %></p>
         <!-- #.strftime("%A, %b %d") -->
      </div>
      <div class="message-body products">
        <p><strong><%= action.category.upcase %></strong></p>
      </div>
        <div class="message-body productsi">
          <p><strong><%= action.element.name %></strong> : <%= action.description %></p>
        </div>
        <div class="message-body elements">
          <p><%= link_to action.element.zone.name, zone_path(action.element.zone) %></p>
        </div>

      <div class="message-body">
        <% if @farm.users.include?(current_user)%>
          <% if action.status %>
            <div class="text-center">
              <div><i class="fas fa-check done"></i></div>
              <%= link_to "annuler", action_path(action), method: :patch, remote: true, class: "icon done" %>
            </div>
          <% else %>
            <%= link_to "Je l'ai fait", action_path(action), method: :patch, remote: true, class: "button-contact" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

