<% if @farm == current_user.farm %>

  <%= render 'shared/banner-dashboard' %>
      <div class="zone-name">
      <h1>MA FERME</h1>
      </div>
    </div>
  <div class="row meteo animated fadeInUp">
    <a class="weatherwidget-io open-link" href="https://forecast7.com/fr/48d530d75/longny-au-perche/" data-font="Open Sans" data-icons="Climacons Animated" data-mode="Forecast" data-theme="pure" >Longny-au-Perche, France</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
  </div>

<% else %>
<%= render 'shared/banner-dashboard' %>

  <% @users.each do |user| %>
    <% if user.farm_id == @farm.id %>
        <div class="zone-name autre">
          <div class="row">
            <div class="col-xs-12 col-md-2 col-md-offset-2">
              <div><%= cl_image_tag user.avatar, class: "avatar-other" %></div>
              <div> <%= render "follow_button", farm: @farm %></div>
            </div>
            <div class="col-xs-12 col-md-5">
              <div class="title-other">
                <h1 class="text-left">BIENVENUE CHEZ <%= user.name.upcase %></h1>
                  <p><%= @farm.name %></p>
                  <p><%= @farm.address %></p>
              </div>
            </div>
        </div>
      </div>

        </div>
    <% end %>
  <% end %>
<% end %>

<div class="container show-farm animated fadeInUp">
  <!-- this is the zone section -->
  <br><br>
  <div class="tab">
    <% if @farm.users.include?(current_user) %>
      <button class="tablinks" data-tab="Farm"><h1>Mes zones</h1></button>
      <button class="tablinks default" data-tab="Actions"><h1>Mes actions</h1></button>
      <!-- <button class="tablinks" data-tab="Shares"><h1>my shares</h1></button> -->
    <% else %>
      <button class="tablinks default" data-tab="Farm"><h1>Zones</h1></button>
      <button class="tablinks" data-tab="Actions"><h1>Actions</h1></button>
    <!--   <button class="tablinks" data-tab="Shares"><h1>shares</h1></button> -->
    <% end %>
  </div>
  <div id="Farm" class="tabcontent active">
    <div class="row zones-farm">
      <% if @zones == [] %>
        <p class="error-message">Désolé, vous n'avez pas encore de zones</p>
      <% else %>
        <% if @farm.users.include?(current_user) %>
          <div class="col-xs-12 col-md-3">
            <div class="card">
              <%= cl_image_tag "https://res.cloudinary.com/bdmbdm/image/upload/v1528191161/Plan_de_travail_123.png", class: "card-img-top", width: 10 %>
              <%= link_to new_farm_zone_path(@farm) do %>
                <div class="overlay">
                  <div class="text">
                    <h5>J'ajoute une zone</h5>
                  </div>
                </div>
                <div class="card-link">
                  <p>Ajouter</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% @farm.zones.each do |zone| %>
        <div class="col-xs-12 col-md-3">
          <div class="card">
          <%= cl_image_tag zone.photo, class: "card-img-top" %>
          <%= link_to zone_path(zone) do %>
            <div class="overlay">
              <div class="text">
                <p>Superficie : <%= zone.area %>m2</p>
                <% unless zone.actions.empty? %>
                  <% if @farm == current_user.farm %>
                    <p>Votre dernière action : le <br><%= zone.actions.last.date.strftime("%d/%m/%Y")%></p>
                  <% else %>
                    <p>Dernière action : le <br><%= zone.actions.last.date.strftime("%d/%m/%Y")%></p>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-link">
              <p><%= zone.name %></p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- this is the end of the zone section -->
  <!-- this is the action section -->
  <div id="Actions" class="tabcontent">
    <%= render 'actions_list', actions: @actions, farm: @farm %>
  </div>
  <!-- this is the end of aciton section -->
  </div>

<div id="Shares" class="tabcontent">
  <div class="row farm-actions">
    <% if @farm.zones == [] %>
      <p class="error-message"><%= "Ajoutez une zone" %></p>
    <% else %>
      <% if @farm.users.include?(current_user) %>
        <div class="message text-left">
          <div class="message-name">
            <img class="plus-sign" src="http://res.cloudinary.com/bdmbdm/image/upload/v1528034422/plussign_square.png" data-toggle="modal" data-target="#myModalShares">
          </div>
          <div class="message-body">
            <p>Je partage avec ma communauté</p>
          </div>
        </div>
      <% end %>
      <% @actions.each do |action| %>
        <div class="message">
          <div class="message-name">
            <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/veggies_and_fruits.svg">
          </div>
          <div class="message-body">
            <p><%= action.date.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="message-body products">
            <p><strong><%= action.category.upcase %></strong></p>
          </div>
            <div class="message-body productsi">
              <p><strong><%= action.element.name %></strong> : <%= action.description %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

<br><br>

</div>



      <%# @garden.zones.each do |zone|%>
        <%# zone.elements.each do |element| %>
          <%# element.log_scopes.each do |log_scope| %>
            <%# log_scope.logs.each do |log| %>
              <!-- <div> -->
      <!--           <h1><%#= log.date %></h1> -->
                <!-- <p><%#= log.status %></p> -->
                <!-- <p><%#= log.category %></p> -->
              <!-- </div> -->
            <%# end %>
          <%# end %>
         <%# end %>
  </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enregistrer une action</h4>
      </div>
      <div class="modal-body">
        <div class="form-action">
          <%= simple_form_for @action do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
            <%= f.input :category, label: 'Type d\'action', collection: Action::ACTIONS, prompt:'Choisissez une action', input_html: { class: "select2" } %>
            <%= f.input :description %>
            <%= hidden_field_tag :farm_id, @farm.id %>
<!--             <p> On which zones? </p>
 -->            <%#= f.simple_fields_for :zones do |v|  %>
              <%#= v.collection_check_boxes :name, @garden.zones, :id, :name %>
            <%# end %>
            <p> Sur quels éléments ? </p>
            <div class="block-party">
              <%= f.simple_fields_for :elements do |e| %>
                <%= e.collection_radio_buttons :name, @farm.elements, :id, :name %>
              <% end %>
            </div>
              <%#= f.association :elements, collection: zone.elements, as: :check_boxes %>
            <%= f.submit 'Enregistrer', class: 'btn btn-home btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalShares" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">J'enregistre une action</h4>
      </div>
      <div class="modal-body">
        <div class="form-action">
          <%= simple_form_for @action do |f| %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
            <%#= f.input :category, collection: Log::ACTIONS, prompt:"which action would you like to log?", input_html: { class: "select2" } %>
            <p> Que voulez-vous partager? </p>
            <%= f.simple_fields_for :elements do |e| %>
              <%= e.collection_check_boxes :name, @farm.elements, :id, :name, class: 'form-check' %>
            <% end %>
<!--             <p> From which zones? </p>
 -->            <%#= f.simple_fields_for :zones do |v|  %>
              <%#= v.collection_check_boxes :name, @garden.zones, :id, :name %>
            <%# end %>
            <%= f.input :description %>
            <%= hidden_field_tag :farm_id, @farm.id %>
            <br>
            <br><br>
              <%#= f.association :elements, collection: zone.elements, as: :check_boxes %>
              <%#= hidden_field_tag :zone_id, zone.id %>
              <br><br>
            <%= f.submit 'Je partage avec ma communauté', class: 'btn btn-home btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @action.errors.any? %>
<%= javascript_pack_tag 'display_modal' %>
<% end %>
