
<%= cl_image_tag garden.photo, class: "img-map" %>
  <!-- <a href="#" class="icon"><i class="fas fa-seedling"></i></a> -->
  <% follow = current_user.follow?(garden) %>
  <i class="fas fa-heart <%= "followed" if follow %>" ></i>
  <h2 class="mapi"><%= garden.name %></h2>
  <p class="mapi"><%= garden.address %></p>
  </div>
  </div>

<%= link_to garden_path(garden) do %>
</div>
  <div class="card-link">
    <p>follow</p>
  </div>
<% end %>

