
  <% follow = current_user.follow?(garden) %>
<%= cl_image_tag garden.photo, class: "img-map" %>
<%= link_to follows_path(garden_id: garden.id), method: :post, class: "icon" do %>
          <i class="fas fa-heart <%= "followed" if follow %>" ></i>
        <% end %>  <h2 class="mapi"><%= garden.name %></h2>
  <p class="mapi"><%= garden.address %></p>
  </div>
  </div>

<%= link_to garden_path(garden) do %>
</div>
  <div class="card-link">
    <p>discover</p>
  </div>
<% end %>

