<div class="row garden-logs">
  <% if @garden.zones == [] %>
    <p class="error-message"><%= "Désolé, ces zones ne sont pas accessibles " %></p>
  <% else %>
      <div id= "searchbar">
        <%= form_tag garden_path(@garden), method: :get, remote: true do %>
          <%= text_field_tag :query, params[:query], class: "barwidth", placeholder: "cherchez une action" %>
        <% end %>
      </div>
    </div>
    <% if @garden.users.include?(current_user) %>
      <div class="message text-left">
        <div class="message-name">
          <img class="plus-sign" src="http://res.cloudinary.com/bdmbdm/image/upload/v1528034422/plussign_square.png" data-toggle="modal" data-target="#myModal">
        </div>

        <div class="message-body">
          <p>Enregistrer une action</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @logs.each do |log| %>
    <div class="message">
      <div class="message-name filterDiv <%= log.category %>">
        <% if log.category == "Labourage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1561630_cc.svg">
        <% elsif log.category == "Fertilisation" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1042097_cc.svg">
        <% elsif log.category == "Semis" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/seed.svg">
        <% elsif log.category == "Repiquage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% elsif log.category == "Arrosage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240203_cc.svg">
        <% elsif log.category == "Désherbage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189035/noun_984560_cc.svg">
        <% elsif log.category == "Paillage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240202_cc.svg">
        <% elsif log.category == "Protection" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189177/noun_1002074_cc.svg">
        <% elsif log.category == "Récolte" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671027/brouette.svg">
        <% elsif log.category == "Nettoyage" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189352/noun_1551479_cc.svg">
        <% elsif log.category == "Distribution" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671030/selling.svg">
        <% else %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% end %>
      </div>

      <div class="message-body products date">
        <p><%= log.date.strftime("%d/%m/%Y") %></p>
         <!-- #.strftime("%A, %b %d") -->
      </div>
      <div class="message-body products">
        <h6><strong><%= log.category %></strong></h6>
      </div>
      <% log.log_scopes.each do |log_scope|%>
        <div class="message-body productsi">
          <p><strong><%= log_scope.element.name %></strong> : <%= log.description %></p>
        </div>
        <div class="message-body elements">
          <p><%= link_to log_scope.element.zone.name, zone_path(log_scope.element.zone) %></p>
        </div>
      <% end %>
      <div class="message-body">
        <% if log.status %>
          <div class="text-center">
            <div><i class="fas fa-check done"></i></div>
            <%= link_to "annuler", log_path(log), method: :patch, remote: true, class: "icon done" %>
          </div>
        <% else %>
          <%= link_to "Je l'ai fait", log_path(log), method: :patch, remote: true, class: "button-contact" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

