<div class="row garden-logs">
  <% if @garden.zones == [] %>
    <p class="error-message"><%= "Sorry, no zones are available " %></p>
  <% else %>
    <div id= "searchbar">
      <%= text_field_tag :query,
        params[:query],
        class: "barwidth",
        placeholder: "search for actions"%>
      <i class="far fa-times-circle"></i>
      <div class= "filter">
        <div id="myBtnContainer">
          <button class="btn active btn-lg btn-home filter-btn" data-filter="all"> Show all</button>
          <button class="btn filter-btn" data-filter="category">Category</button>
          <button class="btn filter-btn" data-filter="date"> Date</button>
          <button class="btn filter-btn" data-filter="date"> Element</button>
        </div>
      </div>
    </div>
    <% if @garden.users.include?(current_user) %>
      <div class="message text-left">
        <div class="message-name">
          <img class="plus-sign" src="http://res.cloudinary.com/bdmbdm/image/upload/v1528034422/plussign_square.png" data-toggle="modal" data-target="#myModal">
        </div>

        <div class="message-body">
          <p>log a new action</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% @logs.each do |log| %>
    <div class="message">
      <div class="message-name filterDiv <%= log.category %>">
        <% if log.category == "preparing soil" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1561630_cc.svg">
        <% elsif log.category == "fertilisating" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1042097_cc.svg">
        <% elsif log.category == "sowing" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/seed.svg">
        <% elsif log.category == "transplanting" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% elsif log.category == "watering" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240203_cc.svg">
        <% elsif log.category == "weeding" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189035/noun_984560_cc.svg">
        <% elsif log.category == "mulching" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240202_cc.svg">
        <% elsif log.category == "mulching" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1240202_cc.svg">
        <% elsif log.category == "caring crops" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189177/noun_1002074_cc.svg">
        <% elsif log.category == "carrying" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671027/brouette.svg">
        <% elsif log.category == "cleaning" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189352/noun_1551479_cc.svg">
        <% elsif log.category == "cleaning" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528189352/noun_1551479_cc.svg">
        <% elsif log.category == "sharing" %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671030/selling.svg">
        <% else %>
          <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1528188695/noun_1205722_cc.svg">
        <% end %>
      </div>
      <div class="message-body products">
        <p><%= log.created_at.strftime("%A, %b %d") %></p>
      </div>
      <div class="message-body products">
        <h6><strong><%= log.category %></strong></h6>
      </div>
      <% log.log_scopes.each do |log_scope|%>
        <div class="message-body productsi">
          <p><strong><%= log_scope.element.name %></strong> : <%= log.description %></p>
        </div>
        <div class="message-body">
          <p><%= link_to log_scope.element.zone.name, zone_path(log_scope.element.zone) %></p>
        </div>
      <% end %>
      <div class="message-body">
        <p><strong>
          <%= link_to log_path(log), method: :patch, remote: true, class: "icon" do %>
            <i class="fas fa-check-circle <%= "done" if log.status %>"></i>
          <% end %>
          <!-- <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1528202520/noun_1552127_cc_1.svg" alt=""> -->
          <!-- if @log.status = true (done), alors bouton passe au vert
          if @log.status = false (to do), alors bouton passe au gris -->
        <!--   <% if log.status = true %>
            <span class="badge badge-success">good job!</span>
          <% else %>
            <span class="badge badge-warning">to be done</span>
          <p>plan the log</p>
          <% end %> -->
        </strong></p>
      </div>
    </div>
  <% end %>
</div>

