<%= render 'shared/banner-community' %>

<div class="container map">

  <div class="wrapper wrapper-3">
    <h1 class="how text-center">join and share with your community</h1>
</div>

<div class="tab">
    <button class="tablinks default" data-tab="Follow"><h1>join them</h1></button>
    <button class="tablinks" data-tab="Shared"><h1>shared with you</h1></button>
</div>


<div id="Follow" class="tabcontent active">
  <div class="row zones-garden">
    <div class="col-xs-12 col-md-6">
    <div class="search-community">
    <%= form_tag community_gardens_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-farm",
        placeholder: "Search for a farm, build your community"
      %>
    <% end %>
    </div><br><br>
    <div
      id="map"
      style="width: 600px!important; height: 600px!important;"
      data-markers="<%= @markers.to_json %>">
    </div>
    </div>


<div class="col-xs-12 col-md-6">
  <% @gardens.each do |garden| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <%= cl_image_tag garden.photo, class: "card-img-top" %>
        <% @garden_id = garden.id %>
        <% @user_id = current_user.id %>
        <%= link_to follows_path(garden_id: @garden_id, user_id: @user_id), method: :post, class: 'icon' do %>
          <i class="fas fa-seedling"></i>
        <% end %>
         <!--  <a href="#" class="icon"><i class="fas fa-seedling"></i></a> -->
        <%= link_to garden_path(garden) do %>
          <div class="overlay">
            <div class="text">
              <h2><%= garden.name %></h2>
              <p><%= garden.address %></p>
            </div>
          </div>

        </div>
          <div class="card-link">
            <p>follow</p>
          </div>
        <% end %>
    </div>
<% end %>
</div>
    </div>
  </div>


<!-- this is the shared section -->
<div id="Shared" class="tabcontent">
  <div class="row garden-logs">
    <%# if @garden.zones == [] %>
    <%# else %>


  <!-- this is the end of log section -->


</div>

