<%= render 'shared/banner-community' %>

<div class="container map">

  <div class="wrapper wrapper-3 animated fadeInUp">
    <h1 class="how text-center">rejoindre la communauté</h1>
  </div>

  <div class="tab animated fadeInUp">
    <button class="tablinks default" data-tab="Follow"><h1>toutes les fermes</h1></button>
    <button class="tablinks" data-tab="Shared"><h1>ma communauté</h1></button>
  </div>


  <div id="Follow" class="tabcontent active animated fadeInUp">
    <div class="row zones-garden">
      <div class="col-xs-12 col-md-6">
        <div id= "search-community">
        <%= form_tag community_gardens_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "barwidth", placeholder: "trouver une ferme, construire sa communauté" %>
        <% end %>
        </div>
      <br><br>
        <div
          id="map"
          style="min-width: 500px; min-height: 600px;"
          data-markers="<%= @markers.to_json %>">
        </div>
      </div>


    <div class="col-xs-12 col-md-6 right-side-index">
      <%= render "rightsideindex", gardens: @gardens %>
    </div>
  </div>
</div>


<!-- this is the shared section -->
<div id="Shared" class="tabcontent">
  <div class="row"></div>
    <div class="col-xs-2 myfollowers no-padding">
      <div class="items text-center good-width">
        <h4>amis permacoles</h4>
      </div>
      <% current_user.follows.each do |follow| %>
        <% follow.garden.users.each do |user| %>
          <div class= "col-xs-6 no-padding"><%= cl_image_tag user.avatar, class: "avatar-medium shared"%></div>
        <% end %>
       <% end %>
    </div>

    <div class="col-xs-10">
      <div class="row border margin-bottom">
        <%# if @garden.zones == [] %>
        <%# else %>
        <div class="items text-center">
          <h4>produits partagés</h4>
        </div>
  <!--       <div id= "searchbar"> -->
            <%#= text_field_tag :query,
              params[:query],
              class: "barwidth",
              placeholder: "rechercher un produit"%>
<!--               <i class="far fa-times-circle"></i> -->
          <!-- <div class= "filter">
            <div id="myBtnContainer">
              <button class="btn active btn-lg btn-home filter-btn" data-filter="all"> Show all</button>
              <button class="btn filter-btn" data-filter="category">Category</button>
              <button class="btn filter-btn" data-filter="date">Date</button>
              <button class="btn filter-btn" data-filter="date">Availability</button>
            </div>
          </div> -->
<!--         </div> -->
      <% current_user.follows.each do |follow| %>
        <% follow.garden.products.each do |product| %>
        <%# @users.each do |user| %>
          <%# if user.garden == product.element.zone.garden  %>
          <div class="message">
            <div class="message-name">
              <%= cl_image_tag product.element.zone.garden.photo, class: "avatar-large shared"  %>
            </div>
            <div class="message-body product">
              <p><strong><%= product.element.name.upcase %> x <%= product.quantity %></strong></p>
            </div>
            <div class="message-body">
              <p><%= product.element.zone.garden.users[0].name %></p>
            </div>
           <!--  <div class="message-body"> -->
                <%# if product.end_date > Date.today %>
                 <!--  <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1528132671/goFichier_1_4x-100.jpg" width= 20> -->
                <%# else %>
                  <!-- <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1528132671/foFichier_1_4x-100.jpg" width= 20> -->
                <%# end %>
            <!-- </div> -->
            <div class="message-body">
              <h6><%= product.element.zone.garden.name.upcase %></h6>
              <p><%= product.element.zone.garden.address %></p>
            </div>
            <div class="message-body">
              <button class="button-contact sweet-1" data-toggle="modal" data-target="#myModal-message"> CONTACT </button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class= "center margin-bottom">
      <%= button_to "Partager un produit", new_product_path(@product), method: :get, class: "button-contact sweet-1 " %>
      <p></p>
    </div>
  </div>
</div>
  <!-- this is the end of log section -->
<br><br>
<br><br>

<!-- <div>
  <h1>Followed</h1>
  <#% current_user.follows.each do |follow| %>
  <p><%#= follow.garden.name %></p>
  <%# end %>
</div>
 -->
<div class="modal fade" id="myModal-message" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">send a message</h4>
      </div>
      <div class="modal-body">
        <div class="form-actions">
            <div>
              <br>
              <label for="name">your name:</label>
              <input type="text" id="name" name="user_name" class="form-control">
            </div>
            <div>
              <br>
              <label for="msg">your message:</label>
              <textarea id="msg" name="user_message" class="form-control msg"></textarea>
            </div>
            <div>
              <input type="submit" value="contact the farmer" class="btn btn-home btn-lg" onclick="confirmSent()">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
