<%= render 'shared/banner-dashboard' %>

<div class="zone-name">
  <h1><%= @garden.name.upcase %></h1>
    <%= link_to edit_garden_path(@garden) do %>
      <i class="far fa-edit"></i>
    <% end %>
  <p><%= @garden.address %></p>
      <%= link_to garden_path(@garden),
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
    <% end %>
</div>

<div class="container show-garden">
<!-- this is the zone section -->
<br><br>
<div class="tab">
  <button class="tablinks default" data-tab="Farm"><h1>my zones</h1></button>
  <button class="tablinks" data-tab="Logs"><h1>my logs</h1></button>
</div>

<div id="Farm" class="tabcontent active">
  <div class="row">
    <% if @zones == [] %>
      <p class="error-message"><%= "Sorry, no zones " %></p>
    <% else %>
    <% @garden.zones.each do |zone| %>
    <div class="col-xs-12 col-md-6">
        <%= content_tag(:div, class: "card", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1527671031/pig.svg); background-size:cover;") do %>
        <!-- #{cl_image_path zone.photo} -->
          <div class="card-description-zone">
            <h3><%=zone.name%></h3>
            <p><%= zone.area %> m2</p>
            <p>last log: 12/01/2018</p>
            <div class="card-link-garden">
        <%= link_to 'visit zone', zone_path(zone) %>
        </div>
          </div>
        <% end %>
       </div>
     <% end %>
    <% end %>
  </div>

   <div class="plus">
  <%= link_to new_garden_zone_path(@garden) do %>
  <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527684634/Fichier_1-100.jpg" alt="">
  <% end %>
  </div>
</div>
<!-- this is the end of the zone section -->


<!-- this is the log section -->
<div id="Logs" class="tabcontent">
  <div class="row">

      <% if @garden.zones == [] %>
        <p class="error-message"><%= "Sorry, no zones " %></p>
      <% else %>
        <br><br><br>
        <% @logs.each do |log| %>
          <% log.log_scopes.each do |log_scope|%>
      <div class="message">
            <div class="message-name">
              <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/veggies_and_fruits.svg">
              <p><%= log.date %></p>
              <p><strong>
                <% if log.status = true %>
                <span class="badge badge-success">good job!</span>
                <% else %>
                <span class="badge badge-warning">to be done</span>
                <p>plan the log</p>
                <% end %>
              </strong></p>
            </div>
            <div class="message-body">
              <h4><strong><%= log.category %></strong></h4>
              <p><strong><%= log_scope.element.name %></strong> : <%= log.description %></p>
            </div>
            <div>
              <p><%= link_to log_scope.element.zone.name, zone_path %></p>
            </div>
      </div>
        <% end %>
        <% end %>
      <% end %>
  </div>
   <div class="plus mod">
      <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527684634/Fichier_1-100.jpg" alt="" data-toggle="modal" data-target="#myModal">
  </div>
  <!-- this is the end of log section -->
  </div>
  </div>



      <%# @garden.zones.each do |zone|%>
        <%# zone.elements.each do |element| %>
          <%# element.log_scopes.each do |log_scope| %>
            <%# log_scope.logs.each do |log| %>
              <!-- <div> -->
      <!--           <h1><%#= log.date %></h1> -->
                <!-- <p><%#= log.status %></p> -->
                <!-- <p><%#= log.category %></p> -->
              <!-- </div> -->
            <%# end %>
          <%# end %>
        <%# end %>
  </div>
</div>
  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Commit your log</h4>
      </div>
      <div class="modal-body">
        <div class="form-log">
          <%= simple_form_for @log do |f| %>
            <%= f.input :date, as: :date, input_html: { class: "select2" } %>
            <%= f.input :category, collection: Log::ACTIONS, prompt:"which action would you like to log?", input_html: { class: "select2" } %>
            <%= f.input :description %>
            <%= f.input :quantity %>
            <%= hidden_field_tag :garden_id, @garden.id %>
            <br>
            <p> On which zones? </p>
            <%= f.simple_fields_for :zones do |v|  %>
              <%= v.collection_check_boxes :name, @garden.zones, :id, :name %>
            <% end %>
            <br><br>
            <p> On which elements? </p>
            <%= f.simple_fields_for :elements do |e| %>
              <%= e.collection_check_boxes :name, @garden.elements, :id, :name %>
            <% end %>
              <%#= f.association :elements, collection: zone.elements, as: :check_boxes %>
              <%#= hidden_field_tag :zone_id, zone.id %>
              <br><br>
            <%= f.submit 'save your action', class: 'btn btn-home btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @log.errors.any? %>
<%= javascript_pack_tag 'display_modal' %>
<% end %>

