<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class ="text-left">my garden</h1>
    </div>
  </div>

  <div class="row">
    <% if @zones == [] %>
      <p class="error-message"><%= "Sorry, no zones " %></p>
    <% else %>
    <% @garden.zones.each do |zone| %>
      <div class="col-xs-12 col-sm-4">
        <%= content_tag(:div, class: "card", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();") do %>
        <!-- #{cl_image_path zone.photo} -->
          <div class="card-description">
            <h2><em><%=zone.area%></em></h2>
            <p>last log : xxx</p>
            <%= link_to zone.name, zone_path(zone), class: "card-category" %>
          </div>
        <% end %>
       </div>
     <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if @zones == [] %>
      <p class="error-message"><%= "Sorry, no zones " %></p>
    <% else %>
      <% @logs.each do |log| %>
        <% log.log_scopes.each do |log_scope|%>
          <div>
            <p><%= log.category %></p>
            <p><%= log.date %></p>
            <p><%= log.description %></p>
            <p><%= log.status %></p>
            <p><%= log_scope.element.zone.name %></p>
            <p><%= log_scope.element.name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
      <%# @garden.zones.each do |zone|%>
        <%# zone.elements.each do |element| %>
          <%# element.log_scopes.each do |log_scope| %>
            <%# log_scope.logs.each do |log| %>
              <!-- <div> -->
      <!--           <h1><%#= log.date %></h1> -->
                <!-- <p><%#= log.status %></p> -->
                <!-- <p><%#= log.category %></p> -->
              <!-- </div> -->
            <%# end %>
          <%# end %>
        <%# end %>

    <div class="row">
      <div class="col-xs-12">
  <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Add a log
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Commit your log</h4>
        </div>
        <div class="modal-body">
          <div class="form-log">
            <%= simple_form_for @log do |f| %>
              <%= f.input :category, collection: Log::ACTIONS, prompt: "which action?" %>
              <%= f.input :description, placeholder: "some description?" %>
              <%= f.input :quantity %>
              <%= f.input :date %>
              <%= f.simple_fields_for :zones do |v|  %>
                <%= v.collection_check_boxes :name, @garden.zones, :id, :name %>
              <% end %>
              <%= f.simple_fields_for :elements do |e| %>
                <%= e.collection_check_boxes :name, @garden.elements, :id, :name %>
              <% end %>
                <%#= f.association :elements, collection: zone.elements, as: :check_boxes %>
                <%#= hidden_field_tag :zone_id, zone.id %>
              <%= f.submit 'Save your action', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @log.errors.any? %>
  <%= javascript_pack_tag 'display_modal' %>
  <% end %>
</div>
