<%= render 'shared/banner-dashboard' %>
      <div class="zone-name">
      <h1><%= @garden.name.upcase %></h1>
        <p class="show">overview</p>
      </div>
    </div>

<div class="wrapper-3">

      <div class="row statistics">
        <br><br>
          <div class="col-xs-12 col-md-3">
            <div class="clearfix">
              <div class="c100 p80 big green animated fadeInUp">
                    <span><%= @garden.area %> m2</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
              </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-3">
              <div class="clearfix">
                <div class="c100 p40 big orange animated fadeInUp">
                    <span><%= @garden.zones.count %> zones</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
              </div>
              </div>
          </div>


              <div class="col-xs-12 col-md-3">
                <div class="clearfix">
                  <div class="c100 p40 big red animated fadeInUp">
                      <span><%= @garden.elements.count %> products</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>
              </div>


              <div class="col-xs-12 col-md-3">
                <div class="clearfix">
                  <div class="c100 p15 big red animated fadeInUp">
                      <span><%=  @garden.logs.count %> logs</span>
                      <div class="slice">
                          <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                  </div>
                </div>
            </div>
    </div>
  </div>

</div>


<div class="wrapper-2 animated anim-scroll">
  <h1 class="show">stats</h1>
  <div class="row">
    <div class="col-xs-12">
    <!-- <div class="contributors">
    </div> -->
      <div class="row overview">
        <div class="col-xs-12 col-md-6">
            <canvas id="myBarChart1" width="1200" height="1000"></canvas>
        </div>
        <div class="col-xs-12 col-md-6">
            <canvas id="myBarChart2" width="1200" height="1000"></canvas>
        </div>
      </div>
      <div class="row overview">
        <div class="col-xs-12 col-md-6">
          <canvas id="myBarChart3" width="1200" height="600"></canvas>
        </div>
      <div class="col-xs-12 col-md-6">
        <canvas id="myBarChart4" width="1200" height="600"></canvas>
      </div>
      </div>
    </div>
  </div>


</div>
<br><br>
<div class="text-center animated zoomIn"> <%= link_to "share my stats with the community", community_gardens_path, class: "btn btn-home btn-lg text-center green-button" %></div>
<br><br>

      </div>
    </div>
  </div>
</div>

</div>
</div>

<!-- <div>
  <p><%#= @weeding %></p>
  <p><%#= @data_serie_logs %></p>
</div> -->

<%= javascript_pack_tag 'chart' %>

<script>
  var labels1 = <%= raw @chart1_labels.to_json %>
  var datasets1 = <%= raw @chart1_datasets.to_json %>;
  initChart("myBarChart1", labels1, datasets1);
  var labels2 = <%= raw @chart2_labels.to_json %>
  var datasets2 = <%= raw @chart2_datasets.to_json %>;
  initStackedChart("myBarChart2", labels2, datasets2);
  var labels3 = <%= raw @chart3_labels.to_json %>
  var datasets3 = <%= raw @chart3_datasets.to_json %>;
  initRadarChart("myBarChart3", labels3, datasets3);
  var labels4 = <%= raw @chart4_labels.to_json %>
  var datasets4 = <%= raw @chart4_datasets.to_json %>;
  initLineChart("myBarChart4", labels4, datasets4);
</script>
