<%= render 'shared/banner-dashboard' %>
    <div class="zone-name">
      <h1>MA FERME</h1>
        <p class="show">Vue d'ensemble</p>
      </div>
    </div>
<div class="wrapper-3">

      <div class="row statistics">
        <br><br>
          <div class="col-xs-12 col-md-3">
            <div class="clearfix">
              <div class="c100 p20 big green animated fadeInUp">
                    <span><%= @garden.area %> m2</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
              </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-3">
              <div class="clearfix">
                <div class="c100 p30 big orange animated fadeInUp">
                    <span><%= @garden.zones.count %> zones</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
              </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="clearfix">
              <div class="c100 p20 big blue animated fadeInUp">
                  <span><%= @garden.elements.count %> ressources</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-md-3">
            <div class="clearfix">
              <div class="c100 p5 big red animated fadeInUp">
                  <span><%=  @garden.logs.count %> actions</span>
                  <div class="slice">
                      <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>

</div>


<div class="wrapper-2 animated anim-scroll">
  <h1 class="show text-center" style="font-size: 34px;">Comparaison de mes données permacoles sur l'année en cours</h1>
  <div class="row">
    <div class="col-xs-12">
    <!-- <div class="contributors">
    </div> -->
      <div class="row overview">
        <div class="col-xs-12 col-md-6">
            <h3 style="color: black; font-size: 23px" class="text-center"> Mes actions par zone</h3><br>
            <canvas id="myBarChart1" width="1200" height="1000"></canvas>
        </div>
        <div class="col-xs-12 col-md-6">
          <h3 style="color: black; font-size: 23px" class="text-center">Mes actions par catégorie</h3><br>
          <canvas id="myBarChart3" width="1200" height="1000"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="text-center animated zoomIn"> <%= link_to "Accéder à ma communauté", community_gardens_path, class: "btn btn-home btn-lg text-center green-button" %></div>
<br><br>

      </div>
    </div>
  </div>
</div>

</div>
</div>

<%= javascript_pack_tag 'chart' %>

<script>
  var labels1 = <%= raw @chart1_labels.to_json %>
  var datasets1 = <%= raw @chart1_datasets.to_json %>;
  initChart("myBarChart1", labels1, datasets1);
  var labels3 = <%= raw @chart3_labels.to_json %>
  var datasets3 = <%= raw @chart3_datasets.to_json %>;
  initRadarChart("myBarChart3", labels3, datasets3);
</script>
