<%= render 'shared/banner-dashboard' %>

<div class="container show-garden">

  <div class="row text-center statsoverv">
    <div class="col-xs-12">
      <br>
      <h2 class="show">MY FARM'S STAT</h2>
        <h3 class="show">overview</h3>
        <p><%= @garden.name %></p>
        <br>
      <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="card-icon stats">
              <h1><%= @garden.area %></h1>
        <%= content_tag(:div, class: "card", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1527671030/autumn.svg);") do %>
        <% end %>
         </div>
            <p> m2</p>
          </div>
              <div class="col-xs-12 col-sm-3">
            <div class="card-icon stats">
               <h1><%= @garden.zones.count %></h1>
<!--               <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527697260/circles2.svg" alt="">
 -->            </div>
            <p>zones </p>
          </div>
              <div class="col-xs-12 col-sm-3">
            <div class="card-icon stats">
<!--               <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527697260/circles2.svg" alt="">
 -->            <h1><%= @garden.elements.count %></h1>
            </div>
            <p>elements</p>
          </div>
              <div class="col-xs-12 col-sm-3">
            <div class="card-icon stats">
<!--               <img src="https://res.cloudinary.com/bdmbdm/image/upload/v1527697260/circles2.svg" alt="">
 -->            <h1><%=  @garden.logs.count %></h1>
            </div>
            <p>logs this month</p>
          </div>



      </div>
    </div>
  </div>

</div>


<div class="wrapper-2">
  <h1 class="show">stats</h1>
  <div class="row">
    <div class="col-xs-12">
    <!-- <div class="contributors">
    </div> -->
      <div class="row overview">
        <div class="col-xs-12 col-md-6">
            <canvas id="myBarChart1" width="1200" height="600"></canvas>
        </div>
        <div class="col-xs-12 col-md-6">
            <canvas id="myBarChart2" width="1200" height="600"></canvas>
        </div>
      </div>
      <div class="row overview">
        <div class="col-xs-12 col-md-6">
          <canvas id="myBarChart3" width="1200" height="600"></canvas>
        </div>
      <div class="col-xs-12 col-md-6">
        <canvas id="myBarChart4" width="1200" height="600"></canvas>
      </div>
      </div>
    </div>
  </div>
   <div class="text-center"> <%= link_to "share my stats with the community", community_gardens_path, class: "btn btn-home btn-lg text-center green-button" %></div>
</div>





      </div>
    </div>
  </div>
</div>

</div>
</div>



<%= javascript_pack_tag 'chart' %>

<script>
  var labels1 = <%= raw @chart1_labels.to_json %>
  var datasets1 = <%= raw @chart1_datasets.to_json %>;
  initChart("myBarChart1", labels1, datasets1);
  var labels2 = <%= raw @chart2_labels.to_json %>
  var datasets2 = <%= raw @chart2_datasets.to_json %>;
  initChart("myBarChart2", labels2, datasets2);
  var labels3 = <%= raw @chart3_labels.to_json %>
  var datasets3 = <%= raw @chart3_datasets.to_json %>;
  initChart("myBarChart3", labels3, datasets3);
  var labels4 = <%= raw @chart4_labels.to_json %>
  var datasets4 = <%= raw @chart4_datasets.to_json %>;
  initChart("myBarChart4", labels4, datasets4);
</script>
