<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> my garden's stats</h1>
    </div>
    <div class="row">
      <div class="overview">
        <h2>Overview</h2>
        <p>Garden area: <%= @garden.area %></p>
        <p>Garden zones: <%= @garden.zones.count %></p>
        <p>Garden elements:  <%= @garden.elements.count %></p>
        <p>Garden Logs: <%=  @garden.logs.count %></p>
        <p>Garden users: <%= @garden.users.count %></p>
      </div>
    </div>
    <div class="row">
      <div class="contributors">

      </div>
    </div>
    <h2>Stats/h2>
    <div class="row">
      <div class="col-xs-6">
        <canvas id="myBarChart1" width="1200" height="600"></canvas>
      </div>
      <div class="col-xs-6">
        <canvas id="myBarChart2" width="1200" height="600"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-6">
        <canvas id="myBarChart3" width="1200" height="600"></canvas>
      </div>
      <div class="col-xs-6">
        <canvas id="myBarChart4" width="1200" height="600"></canvas>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'chart' %>

<script>
  var labels1 = <%= raw @chart1_labels.to_json %>
  var datasets1 = <%= raw @chart1_datasets.to_json %>;
  initChart("myBarChart1", labels1, datasets1);
  var labels2 = <%= raw @chart2_labels.to_json %>
  var datasets2 = <%= raw @chart2_datasets.to_json %>;
  initChart("myBarChart2", labels2, datasets2);
  var labels3 = <%= raw @chart3_labels.to_json %>
  var datasets3 = <%= raw @chart3_datasets.to_json %>;
  initChart("myBarChart3", labels3, datasets3);
  var labels4 = <%= raw @chart4_labels.to_json %>
  var datasets4 = <%= raw @chart4_datasets.to_json %>;
  initChart("myBarChart4", labels4, datasets4);
</script>
