<h1><%= @zone.name %></h1>
<div class="tab-elements">
  <%= link_to "Create a new element", new_zone_element_path(@zone) %>
  <% @elements.each do |element| %>
    <% if element.zone_id == @zone.id %>
      <div class="col-xs-12 col-sm-3">
      <!--         INSERT BRUNO'S CARD -->
        <div class="element-card">
          <%= element.name %>
          <%= element.quantity %>
          <%= element.photo %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="tab-logs">
  <%= link_to "Create a new log", new_log_path %>
  <% @elements.each do |element| %>
    <% if element.zone_id == @zone.id %>
      <% @log_scopes.each do |log_scope| %>
        <% if log_scope.element_id == element.id %>
          <div class="col-xs-12 col-sm-3">
          <!--         INSERT BRUNO'S CARD -->
            <div class="element-card">
              <%= log_scope.log.date %>
              <%= log_scope.log.status %>
              <%= log_scope.log.description %>
            </div>
          </div>
        <% else %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
<!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Commit your log</h4>
      </div>
      <div class="modal-body">
        <div class="form-log">
          <%= simple_form_for @log do |f| %>
            <%= f.input :category, collection: Log::ACTIONS, prompt: "which action?" %>
            <%= f.input :description, placeholder: "some description?" %>
            <%= f.input :quantity %>
            <%= f.input :date %>
            <%= f.association :elements, collection: @zone.elements, as: :check_boxes %>
            <%= hidden_field_tag :zone_id, @zone.id %>
            <%= f.submit 'Save your action', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to zone_path(@zone) do %>
          <button type="button" class="btn btn-primary">Save changes</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
