<%= render 'shared/banner-dashboard' %>

<div class="container">
<!-- this is the zone section -->
<br><br>
<div class="tab">
  <button class="tablinks default" data-tab="elements"><h1>my elements</h1></button>
  <button class="tablinks" data-tab="elements-logs"><h1>my logs</h1></button>
</div>

<div id="elements" class="tabcontent active">
  <div class="row">
    <% if @zone.elements.empty? %>
      <p> You don't have any elements yet. <%= link_to "Create one", new_zone_element_path(@zone) %></p>
    <% else %>
      <% @zone.elements.each do |element| %>
    <div class="col-xs-12 col-md-6">
        <%= content_tag(:div, class: "card", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/bdmbdm/image/upload/v1527671031/pig.svg); background-size:cover;") do %>
        <!-- #{cl_image_path zone.photo} -->
          <div class="card-description-zone">
            <h3><%= element.name%></h3>
            <p><%= element.quantity %> m2</p>
            <p>last log: 12/01/2018</p>
            <div class="card-link-garden">
        </div>
          </div>
        <% end %>
       </div>
     <% end %>
    <% end %>
  </div>
</div>

<div id="elements-logs" class="tabcontent">
  <div class="row">
      <% if @zone.elements == [] %>
        <p class="error-message"><%= "Sorry, no elements " %></p>
      <% else %>
        <br><br><br>
        <% @logs.each do |log| %>
          <% log.log_scopes.each do |log_scope|%>
      <div class="message">
            <div class="message-name">
              <img class="avatar-large" src="https://res.cloudinary.com/bdmbdm/image/upload/v1527671029/veggies_and_fruits.svg">
              <p><%= log.date %> 13/10/2018</p>
              <p><strong>
                <% if log.status = true %>
                <span class="badge badge-success">good job!</span>
                <% else %>
                <span class="badge badge-warning">to be done</span>
                <p>plan the log</p>
                <% end %>
              </strong></p>
            </div>
            <div class="message-body">
              <h4><strong><%= log.category %></strong></h4>
              <p><strong><%= log_scope.element.name %></strong> : <%= log.description %></p>
            </div>
            <div>
              <p><%= link_to log_scope.element.zone.name, zone_path %></p>
            </div>
      </div>
        <% end %>
        <% end %>
      <% end %>
  </div>
</div>

</div>

