<h1>Share with your community</h1>
<% if policy(Product).create? %>
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :element, collection: @elements, required: true %>
    <%= f.input :price, as: :integer, required: false %>
    <%= f.input :description, as: :string, required: false %>
    <%= f.submit 'Share!', class: "btn btn-home btn-lg" %>
  <% end %>
<% end %>
